ADFv2/aws-openid-connect/no_akv/adf-pipeline-noakv-nofunc.json
{
    "name": "adf-mi-s3-connection-noakv-nofunc-pl",
    "properties": {
        "activities": [
            {
                "name": "get temp tokens AWS S3 REST",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Get ADF MI bearer via AWS error message",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://sts.amazonaws.com/?Action=AssumeRoleWithWebIdentity&RoleSessionName=app1&RoleArn=arn:aws:iam::',pipeline().parameters.aws_account_id,':role/AzureADWebIdentity3&WebIdentityToken=', substring(activity('Get ADF MI bearer via AWS error message').output.Response, add(indexof(activity('Get ADF MI bearer via AWS error message').output.Response, 'Bearer '),length('Bearer ')), sub(sub(indexof(activity('Get ADF MI bearer via AWS error message').output.Response, '</ArgumentValue>'), indexof(activity('Get ADF MI bearer via AWS error message').output.Response,'Bearer ')), length('Bearer '))), '&Version=2011-06-15')",
                        "type": "Expression"
                    },
                    "method": "GET"
                }
            },
            {
                "name": "copy data from S3 to ADLSgen2",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "get temp tokens AWS S3 REST",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "BinarySource",
                        "storeSettings": {
                            "type": "AmazonS3ReadSettings",
                            "recursive": true
                        },
                        "formatSettings": {
                            "type": "BinaryReadSettings"
                        }
                    },
                    "sink": {
                        "type": "BinarySink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "Binary1",
                        "type": "DatasetReference",
                        "parameters": {
                            "accesskeyid": {
                                "value": "@substring(activity('get temp tokens AWS S3 REST').output.Response, add(indexof(activity('get temp tokens AWS S3 REST').output.Response, '<accesskeyid>'),length('<accesskeyid>')), \nsub(sub(indexof(activity('get temp tokens AWS S3 REST').output.Response, '</accesskeyid>'), indexof(activity('get temp tokens AWS S3 REST').output.Response,'<accesskeyid>')), length('<accesskeyid>'))\n)",
                                "type": "Expression"
                            },
                            "secretaccesskey": {
                                "value": "@substring(activity('get temp tokens AWS S3 REST').output.Response, add(indexof(activity('get temp tokens AWS S3 REST').output.Response, '<secretaccesskey>'),length('<secretaccesskey>')), \nsub(sub(indexof(activity('get temp tokens AWS S3 REST').output.Response, '</secretaccesskey>'), indexof(activity('get temp tokens AWS S3 REST').output.Response,'<secretaccesskey>')), length('<secretaccesskey>'))\n)",
                                "type": "Expression"
                            },
                            "sessiontoken": {
                                "value": "@substring(activity('get temp tokens AWS S3 REST').output.Response, add(indexof(activity('get temp tokens AWS S3 REST').output.Response, '<sessiontoken>'),length('<sessiontoken>')), \nsub(sub(indexof(activity('get temp tokens AWS S3 REST').output.Response, '</sessiontoken>'), indexof(activity('get temp tokens AWS S3 REST').output.Response,'<sessiontoken>')), length('<sessiontoken>'))\n)",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ADLSgen2",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Get ADF MI bearer via AWS error message",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "https://error-bounce-bearer-bucket.s3.eu-central-1.amazonaws.com/",
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "api://aws_azure_federate"
                    }
                }
            }
        ],
        "parameters": {
            "aws_account_id": {
                "type": "string",
                "defaultValue": "123456789012"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-02-15T15:19:10Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
